<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="componentes.js"></script>
    <title>Document</title>
</head>
<body>
    <hello-world></hello-world>
    <custom-button></custom-button><br>
    <custom-counter></custom-counter>
    <user-card name="Ana" email="ana@email.com" image="https://pixabay.com/pt/vectors/foto-imagem-fotografia-fot%C3%B3grafo-99135/"></user-card>
    <custom-modal title="exemplo" open="true">
        <p>conteudo dinamico</p>
        <p>adicionar conteudo aqui</p>
    </custom-modal>
</body>
</html>